.cart-list {
  padding-left: 0px;
}
.check-out-container {
  display: grid;
  max-width: fit-content;
  align-self: flex-end;
  padding: 1em;
  box-shadow: 4px 4px 16px 10px #d1d1d1;
  border-radius: 10px;
}
.checkout-btn {
  font-size: 1rem;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.check-out-container h2 {
  color: #52606d;
}
.check-out-container span {
  color: #171f46;
  font-size: 2.1rem;
}
.check-out-container p {
  color: #64748b;
  font-size: 1.1rem;
  margin-top: 0;
}
